<?xml version="1.0"?>

<config>
    <modules>
        <VS_Featurezoom>
            <version>2.0</version>
        </VS_Featurezoom>
    </modules>
    <global>
        <helpers>
            <featurezoom>
                <class>VS_Featurezoom_Helper</class>
            </featurezoom>
        </helpers>
		<models>		
			<featurezoom>
				<class>VS_Featurezoom_Model</class>
			</featurezoom>  		
		</models>
        <resources>
            <featurezoom_setup>
                <setup>
                    <module>VS_Featurezoom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featurezoom_setup>
            <featurezoom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featurezoom_write>
            <featurezoom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featurezoom_read>
        </resources>
    </global>
	<default>
        <featurezoom>
            <general>
                <defaulfeaturezoom>1</defaulfeaturezoom>
				<magnifierpos>right</magnifierpos>
            </general>
			<zoomrange>
                <start>3</start>
				<end>10</end>
            </zoomrange>
			<magnifiersize>
                <height>400</height>
				<width>400</width>
            </magnifiersize>
        </featurezoom>
		
    </default>
    <frontend>
        <layout>
            <updates>
                <featurezoom>
                    <file>featurezoom.xml</file>
                </featurezoom>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <featurezoom>
                                            <title>Gestione Liste</title>
                                        </featurezoom>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
